<form class="form-inline">
  <div class="form-inline-group">
    <div class="form-group">
      <label class="form-label" for="name">Name</label>
      <br />
      <input id="name" class="form-control form-input-large form-input" type="text" name="name" value="{{ name }}">
      <br />
    </div>
    <div class="right-button-div">
      <button type="submit" class="btn btn-lg btn-blue">Predict</button>
    </div>
  </div>
</form>
<div class="clear"></div>
{% if race %}
<div class="alert alert-success" role="alert">{{ name }} is a {{ race }}.</div>
{% else %}
<div class="alert alert-warning" role="alert">Please enter a name.</div>
{% endif %}
